Sickbeard Launcher.xcodeproj/project.xcworkspace/xcuserdata/elias.xcuserdatad/UserInterfaceState.xcuserstate
Sickbeard Launcher.xcodeproj/project.xcworkspace/xcuserdata/elias.xcuserdatad/WorkspaceSettings.xcsettings
Sickbeard Launcher.xcodeproj/xcuserdata/elias.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Sickbeard Launcher.xcodeproj/xcuserdata/elias.xcuserdatad/xcschemes/Sickbeard Launcher.xcscheme
Sickbeard Launcher.xcodeproj/xcuserdata/elias.xcuserdatad/xcschemes/xcschememanagement.plist
